In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/17 18:54:18 WARN Utils: Your hostname, spark-master, resolves to a loopback address: 127.0.1.1; using 10.168.136.115 instead (on interface ens3)
25/07/17 18:54:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/17 18:54:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv("file:///data/Cabs.csv",header=True)

In [4]:
df.columns

['CabNumber',
 'VehicleLicenseNumber',
 'Name',
 'LicenseType',
 'Active',
 'PermitLicenseNumber',
 'VehicleVinNumber',
 'WheelchairAccessible',
 'VehicleYear',
 'VehicleType',
 'TelephoneNumber',
 'Website',
 'Address',
 'LastDateUpdated']

In [5]:
df.printSchema()

root
 |-- CabNumber: string (nullable = true)
 |-- VehicleLicenseNumber: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- LicenseType: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- PermitLicenseNumber: string (nullable = true)
 |-- VehicleVinNumber: string (nullable = true)
 |-- WheelchairAccessible: string (nullable = true)
 |-- VehicleYear: string (nullable = true)
 |-- VehicleType: string (nullable = true)
 |-- TelephoneNumber: string (nullable = true)
 |-- Website: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- LastDateUpdated: string (nullable = true)

In [6]:
df.select('CabNumber').filter('VehicleYear > 2016').count()

2638

In [8]:
df.groupby('VehicleType').count().show()

+-----------+-----+
|VehicleType|count|
+-----------+-----+
|        HYB|   53|
|       NULL| 8879|
|        STR|   15|
|        WAV|   23|
+-----------+-----+

In [9]:
df.createTempView("cabs")

In [10]:
spark.sql("select VehicleType,count(*) from cabs group by VehicleType").show()

+-----------+--------+
|VehicleType|count(1)|
+-----------+--------+
|        HYB|      53|
|       NULL|    8879|
|        STR|      15|
|        WAV|      23|
+-----------+--------+