In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark Table persistent example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/17 19:28:30 WARN Utils: Your hostname, spark-master, resolves to a loopback address: 127.0.1.1; using 10.168.136.115 instead (on interface ens3)
25/07/17 19:28:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/17 19:28:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

1. Spark will create default local hive metastore
2. df.saveAsTable - materialize the contents of dataframe and create a pointer to the data in Hive metastore
3. Two cases:
   - When custom path is given - Data stored in that path and remains there even table is deleted from metastore
   - When customm path is not given - Data stored in default warehouse directory and data gets deleted when table is deleted

In [11]:
df = spark.read.csv("file:///data/Drivers.csv", header=True)

In [13]:
df.write.saveAsTable("test",mode="overwrite")

In [15]:
spark.sql("select * from test").show(3)

+-------------------+------------+--------------------+--------------+---------------+
|DriverLicenseNumber|        Name|                Type|ExpirationDate|LastDateUpdated|
+-------------------+------------+--------------------+--------------+---------------+
|            5232778|  HASAN,MD,Z|MEDALLION TAXI DR...|    07/25/2022|     04/22/2020|
|            5922667|HASAN,NAIMUL|MEDALLION TAXI DR...|    10/15/2021|     04/22/2020|
|            5316279| HASAN,RAKIB|MEDALLION TAXI DR...|    12/22/2020|     04/22/2020|
+-------------------+------------+--------------------+--------------+---------------+
only showing top 3 rows

In [17]:
spark.sql("Describe extended test").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
| DriverLicenseNumber|              string|   NULL|
|                Name|              string|   NULL|
|                Type|              string|   NULL|
|      ExpirationDate|              string|   NULL|
|     LastDateUpdated|              string|   NULL|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|             default|       |
|               Table|                test|       |
|        Created Time|Thu Jul 17 19:38:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 4.0.0|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|            Location|file:/learning/Sp...|       |
+--------------------+--------------------+-------+

ubuntu@spark-master:/learning/Spark-SQL/artifacts$ cd ../spark-warehouse/

ubuntu@spark-master:/learning/Spark-SQL/spark-warehouse$ ls

test

ubuntu@spark-master:/learning/Spark-SQL/spark-warehouse$

In [20]:
spark.sql("drop table test")

DataFrame[]

In [21]:
# Folder test is deleted from spark-warehouse

### Partitioning

In [24]:
df = spark.read.csv("file:///data/Cabs.csv", header=True)

In [26]:
df.write.partitionBy('VehicleYear').saveAsTable("test_partition",mode="overwrite")

ubuntu@spark-master:/learning/Spark-SQL/spark-warehouse/test_partition$ ls
'VehicleYear=1949'  'VehicleYear=1960'  'VehicleYear=2004'  'VehicleYear=2007'  'VehicleYear=2010'  'VehicleYear=2013'  'VehicleYear=2016'  'VehicleYear=2019'
'VehicleYear=1951'  'VehicleYear=2002'  'VehicleYear=2005'  'VehicleYear=2008'  'VehicleYear=2011'  'VehicleYear=2014'  'VehicleYear=2017'  'VehicleYear=2020'
'VehicleYear=1955'  'VehicleYear=2003'  'VehicleYear=2006'  'VehicleYear=2009'  'VehicleYear=2012'  'VehicleYear=2015'  'VehicleYear=2018'   _SUCCESS
ubuntu@spark-master:/learning/Spark-SQL/spark-warehouse/test_partition$

In [27]:
# Efficient reads when where clause often contains a particular column
# Too many files created

### Bucketing

In [28]:
df = spark.read.csv("file:///data/Cabs.csv", header=True)

In [32]:
df.write.bucketBy(5,'VehicleYear').sortBy('VehicleYear').saveAsTable("test_bucket",mode="overwrite")

In [ ]:
# Data hashed evenly into 5 different files
# Better for high cardinality - data first ordered and bucketted -> improves performance during joins, aggregations, sampling